# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
*.db
instance/
migrations/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VSCode settings (if using VSCode)
.vscode/
